{{#partial "content"}}
    <div class="showcase d-md-flex pt-5 align-items-center">
        <div class="showcase-txt">
            <p class="showcase-txt-lead">Crafting Pro Malware Analysts </p>
            <p class="showcase-text-follow text-light">
                A Tabletop Exercise Simulator for Malware Analysts Based on Cyber Security Education

                Exposing malware analysts to real life Malware's and attack scenarios
                <br />
                We haven't seen all malware types but they're in our List!
            </p>
            <p class="showcase-text-follow text-danger fw-bold">
                I challenge you to solve all the exercises.
            </p>

            <div class="pt-5">
                <button class="button"> <a href="/analyst/login">Login</a> </button>
                <p class="pt-2 fs-4">Don't have an account? <a href="/analyst/register">create one</a> </p>
            </div>
        </div>
        <div class="showcase-image">
            <img src="/img/bg.png" height="521" alt="" />
        </div>
    </div>


{{/partial}}
{{> "layout.hbs"}}